.tree-item{
    height: 100%;
    cursor: pointer;
}

.expandable{
    display: flex;
    height: 50px;
}

.hovered:hover{
    background-color: #dbdbe3;
}

.left-side{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.checkbox-area{
    margin: 0 20px 0 20px;
}

.right-side{
    width: 20%;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side svg{
    height: 10px;
}

.childrens{
    transition: 0.5s;
}